<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="styles.css" rel="stylesheet">
</head>
<body>
<div class="canvas-app">
<div style="border:1px solid #666666;"> 
    <img src="rbclogo.jpg"/>
    <p> &nbsp;</p>
    <p>Hello, <%= context.user.firstName %>. This is a web app written in Node.js embedded in your Salesforce page (It could also be written in any other language).</p>
    <p> <b> It is aware of its environment.</b> For example, here are a few things it knows:</p>
    <table>
        <tr><td>User:</td><td><%= context.user.fullName %></td></tr>
        <tr><td>Object:</td><td><%= context.environment.record.attributes.type %></td></tr>
        <tr><td>Id:</td><td><%= context.environment.record.Id %></td></tr>
    </table>
    <p>It can also access more data in Salesforce using the REST APIs. With context and APIs, 
    <b> Canvas makes it easy to integrate applications written in any language inside your Salesforce pages. </b> </p>
  </div>
    <p> &nbsp;</p>
    <div style="border:1px solid #666666;"> 
        <p> A Canvas app can embed an external app in Salesforce.</p>
    <ol>
    <li> Allow external app to securely authenticate with Salesforce using OAuth. Canvas SDK leverages the 
    Connected App framework to control which profiles and which elements will have access to the Canvas app of Salesforce </li>
    <li> Allow external app to securely access Salesforce data.</li>
    <li> Allow external app to get context information from Salesforce. </li>
    </ol>
    </div>
    <p> &nbsp;</p>     <p> &nbsp;</p>     <p> &nbsp;</p>
</div>
</body>
